@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:opsz,wght@14..32,100..900&display=swap");

:root {
    --color-primary: #0b64f4;
    --color-background: #f1f5f9;
    --color-text: #29303d;
    --color-card: #fff;
    --color-muted: #edf0f3;
    --color-muted-text: #737b8c;
    --color-border: #d4d7de;
    --color-input: #d4d7de;
    --color-error: #ef4343;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--color-background);
    padding: 15px 10px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.card {
    max-width: 435px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background-color: var(--color-card);
    border: 1px solid var(--color-border);
    padding: 36px 30px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
}

.card-title,
.swap-title {
    color: var(--color-text);
    margin-bottom: 2px;
}

.card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.swap-title {
    font-size: 16px;
    line-height: 24px;
}

.card-subtitle {
    color: var(--color-muted-text);
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
}

.card-header {
    margin-bottom: 28px !important;
}

form > div {
    margin-bottom: 18px;
}

.input-label {
    color: var(--color-text);
    display: block;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    margin-bottom: 4px;
}

.result,
.input-field,
.error,
.parameter {
    text-align: left;
    width: 100%;
    display: block;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    font-family: "Fira Code", monospace;
    outline: none;
    padding: 8px 14px;
}

.error {
    max-width: 435px;
    margin: 0 auto;
    width: 100%;
    border-color: var(--color-error);
    background-color: var(--color-error);
    color: #fff;
}

.error-title {
    font-weight: 500;
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 28px;
}

.error-message {
    font-family: "Inter", sans-serif;
}

.input-field {
    font-size: 16px;
    color: var(--color-text);
    line-height: 24px;
    transition: outline linear 100ms;
}

.input-field::placeholder {
    color: var(--color-border);
}

.input-field:focus {
    outline: 2px solid var(--color-primary);
}

.button {
    width: 100%;
    background-color: var(--color-primary);
    color: var(--color-muted);
    font-family: inherit;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    border-radius: 8px;
    transition: opacity linear 200ms;
}

.button:hover {
    opacity: 85%;
}

.result {
    background-color: var(--color-background);
}

.result-original {
    background-color: var(--color-muted);
}

.result-title,
.parameter-title {
    font-size: 14px;
    color: var(--color-muted-text);
    line-height: 24px;
}

.result-value {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    font-family: "Fira Code", monospace;
}

.swap-header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.card-result > div {
    margin-bottom: 12px;
}

.divider {
    border: 1px solid var(--color-border);
    margin: 14px 0;
}

.swap-icon {
    width: 16px;
}

.parameter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 765px) {
    .card {
        padding: 28px 14px;
    }
    .card-header {
        margin-bottom: 20px;
    }
}
